In [10]:
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [7]:
# Importing Libraries
import selenium
import pandas as pd
import time

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(ChromeDriverManager().install())

[WDM] - Downloading: 100%|█████████████████████████████████████████████████████████████████████████████████████████████| 6.79M/6.79M [00:09<00:00, 730kB/s]
C:\Users\Shubham Hajari\AppData\Local\Temp/ipykernel_5452/3325250888.py:15: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

### Yatra.com

In [8]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BOM&bdestination=BOM&destinationL=Mumbai,Mumbai&destinationCity=Mumbai&destinationCN=India&source=DEL&bsource=DEL&sourceL=Delhi,Delhi&sourceCity=Delhi&sourceCN=India&month=1&day=15&year=2023&date=1/15/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [14]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [15]:
len(price)

155

In [16]:
#Making dataframe
# creating a pandas dataframe
df1= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'15/01/2023','Source':Source[1:156],'Destination':destination[1:156],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df1

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,IndiGo,15/01/2023,Delhi,Mumbai,06:30,08:45,2h 15m Non-Stop,Non-Stop,"5,794"
1,SpiceJet,15/01/2023,Delhi,Mumbai,07:00,09:15,2h 15m Non-Stop,Non-Stop,"5,794"
2,IndiGo,15/01/2023,Delhi,Mumbai,04:45,07:10,2h 25m Non-Stop,Non-Stop,"5,794"
3,GO FIRST,15/01/2023,Delhi,Mumbai,02:40,04:50,2h 10m Non-Stop,Non-Stop,"5,801"
4,GO FIRST,15/01/2023,Delhi,Mumbai,06:00,08:10,2h 10m Non-Stop,Non-Stop,"5,897"
...,...,...,...,...,...,...,...,...,...
150,AirIndia,15/01/2023,Delhi,Mumbai,16:45,12:40,19h 55m 1 Stop(s),1 Stop(s),"38,616"
151,AirIndia,15/01/2023,Delhi,Mumbai,12:10,20:40,8h 30m 1 Stop(s),1 Stop(s),"39,944"
152,AirIndia,15/01/2023,Delhi,Mumbai,18:40,16:25,21h 45m 1 Stop(s),1 Stop(s),"40,582"
153,AirIndia,15/01/2023,Delhi,Mumbai,16:45,10:15,17h 30m 1 Stop(s),1 Stop(s),"50,972"
154,AirIndia,15/01/2023,Delhi,Mumbai,15:05,22:55,7h 50m 1 Stop(s),1 Stop(s),"64,286"

In [17]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BLR&bdestination=BLR&destinationL=Bangalore,Bangalore&destinationCity=Bangalore&destinationCN=India&source=DEL&bsource=DEL&sourceL=Delhi&sourceCity=&sourceCN=&month=1&day=18&year=2023&date=1/18/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [18]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [20]:
len(price)

169

In [21]:
#Making dataframe
# creating a pandas dataframe
df2= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'18/01/2023','Source':Source[1:170],'Destination':destination[1:170],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df2

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,AirAsia India,18/01/2023,Delhi,Bangalore,07:10,12:10,5h 0m 1 Stop(s),1 Stop(s),"5,167"
1,AirAsia India,18/01/2023,Delhi,Bangalore,23:05,06:55,7h 50m 1 Stop(s),1 Stop(s),"5,167"
2,GO FIRST,18/01/2023,Delhi,Bangalore,05:45,08:35,2h 50m Non-Stop,Non-Stop,"5,235"
3,IndiGo,18/01/2023,Delhi,Bangalore,17:15,22:10,4h 55m 1 Stop(s),1 Stop(s),"5,238"
4,IndiGo,18/01/2023,Delhi,Bangalore,23:15,04:15,5h 0m 1 Stop(s),1 Stop(s),"5,238"
...,...,...,...,...,...,...,...,...,...
164,IndiGo,18/01/2023,Delhi,Bangalore,07:45,14:35,6h 50m 1 Stop(s),1 Stop(s),"15,735"
165,GO FIRST,18/01/2023,Delhi,Bangalore,06:00,11:25,5h 25m 1 Stop(s),1 Stop(s),"15,845"
166,AirIndia,18/01/2023,Delhi,Bangalore,09:45,12:30,2h 45m Non-Stop,Non-Stop,"18,345"
167,SpiceJet,18/01/2023,Delhi,Bangalore,19:50,17:05,21h 15m 1 Stop(s),1 Stop(s),"21,779"
168,SpiceJet,18/01/2023,Delhi,Bangalore,17:35,17:05,23h 30m 1 Stop(s),1 Stop(s),"21,779"

In [22]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=PNQ&bdestination=PNQ&destinationL=Pune,Pune&destinationCity=Pune&destinationCN=India&source=DEL&bsource=DEL&sourceL=Delhi&sourceCity=&sourceCN=&month=1&day=25&year=2023&date=1/25/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [23]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [24]:
len(price)

77

In [25]:
#Making dataframe
# creating a pandas dataframe
df3= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'25/01/2023','Source':Source[1:78],'Destination':destination[1:78],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df3

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,GO FIRST,25/01/2023,Delhi,Pune,18:30,20:20,1h 50m Non-Stop,Non-Stop,"4,139"
1,GO FIRST,25/01/2023,Delhi,Pune,16:55,18:55,2h 0m Non-Stop,Non-Stop,"4,139"
2,GO FIRST,25/01/2023,Delhi,Pune,22:05,00:10,2h 5m Non-Stop,Non-Stop,"4,139"
3,GO FIRST,25/01/2023,Delhi,Pune,09:35,11:45,2h 10m Non-Stop,Non-Stop,"4,139"
4,AirAsia India,25/01/2023,Delhi,Pune,23:05,01:10,2h 5m Non-Stop,Non-Stop,"5,503"
...,...,...,...,...,...,...,...,...,...
72,Vistara,25/01/2023,Delhi,Pune,14:20,07:55,17h 35m 2 Stop(s),2 Stop(s),"23,417"
73,Vistara,25/01/2023,Delhi,Pune,16:35,07:55,15h 20m 2 Stop(s),2 Stop(s),"23,732"
74,Vistara,25/01/2023,Delhi,Pune,15:30,07:55,16h 25m 2 Stop(s),2 Stop(s),"23,732"
75,AirAsia India,25/01/2023,Delhi,Pune,07:10,14:10,7h 0m 2 Stop(s),2 Stop(s),"30,550"
76,AirAsia India,25/01/2023,Delhi,Pune,07:10,14:10,7h 0m 2 Stop(s),2 Stop(s),"31,496"

In [26]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BLR&bdestination=BLR&destinationL=Bangalore,Bangalore&destinationCity=Bangalore&destinationCN=India&source=DEL&bsource=DEL&sourceL=Delhi&sourceCity=&sourceCN=&month=1&day=30&year=2023&date=1/30/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [27]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [28]:
len(price)

170

In [29]:
#Making dataframe
# creating a pandas dataframe
df4= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'30/01/2023','Source':Source[1:171],'Destination':destination[1:171],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df4

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,AirIndia,30/01/2023,Delhi,Bangalore,19:25,22:40,3h 15m Non-Stop,Non-Stop,"4,991"
1,AirAsia India,30/01/2023,Delhi,Bangalore,05:45,12:25,6h 40m 1 Stop(s),1 Stop(s),"5,167"
2,AirAsia India,30/01/2023,Delhi,Bangalore,23:05,06:55,7h 50m 1 Stop(s),1 Stop(s),"5,167"
3,IndiGo,30/01/2023,Delhi,Bangalore,05:15,10:40,5h 25m 1 Stop(s),1 Stop(s),"5,238"
4,IndiGo,30/01/2023,Delhi,Bangalore,19:45,01:10,5h 25m 1 Stop(s),1 Stop(s),"5,238"
...,...,...,...,...,...,...,...,...,...
165,IndiGo,30/01/2023,Delhi,Bangalore,07:45,14:35,6h 50m 1 Stop(s),1 Stop(s),"11,992"
166,AirAsia India,30/01/2023,Delhi,Bangalore,04:55,13:30,8h 35m 1 Stop(s),1 Stop(s),"14,191"
167,GO FIRST,30/01/2023,Delhi,Bangalore,10:45,15:10,4h 25m 1 Stop(s),1 Stop(s),"14,827"
168,AirAsia India,30/01/2023,Delhi,Bangalore,04:55,13:30,8h 35m 1 Stop(s),1 Stop(s),"15,127"
169,GO FIRST,30/01/2023,Delhi,Bangalore,06:00,11:25,5h 25m 1 Stop(s),1 Stop(s),"20,335"

In [30]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BOM&bdestination=BOM&destinationL=Mumbai,Mumbai&destinationCity=Mumbai&destinationCN=India&source=BLR&bsource=BLR&sourceL=Bangalore,Bangalore&sourceCity=Bangalore&sourceCN=India&month=2&day=1&year=2023&date=2/1/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [31]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [32]:
len(price)

145

In [33]:
#Making dataframe
# creating a pandas dataframe
df5= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'01/02/2023','Source':Source[1:146],'Destination':destination[1:146],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df5

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,IndiGo,01/02/2023,Bangalore,Mumbai,16:20,18:15,1h 55m Non-Stop,Non-Stop,"2,585"
1,Vistara,01/02/2023,Bangalore,Mumbai,19:00,20:40,1h 40m Non-Stop,Non-Stop,"2,598"
2,AirIndia,01/02/2023,Bangalore,Mumbai,21:20,23:20,2h 0m Non-Stop,Non-Stop,"2,602"
3,IndiGo,01/02/2023,Bangalore,Mumbai,21:30,23:25,1h 55m Non-Stop,Non-Stop,"2,700"
4,IndiGo,01/02/2023,Bangalore,Mumbai,12:20,14:20,2h 0m Non-Stop,Non-Stop,"2,700"
...,...,...,...,...,...,...,...,...,...
140,Vistara,01/02/2023,Bangalore,Mumbai,11:30,12:35,25h 5m 1 Stop(s),1 Stop(s),"11,328"
141,IndiGo,01/02/2023,Bangalore,Mumbai,10:35,16:10,5h 35m 1 Stop(s),1 Stop(s),"11,587"
142,Vistara,01/02/2023,Bangalore,Mumbai,11:30,21:15,9h 45m 1 Stop(s),1 Stop(s),"11,748"
143,Vistara,01/02/2023,Bangalore,Mumbai,21:10,13:55,16h 45m 1 Stop(s),1 Stop(s),"11,748"
144,IndiGo,01/02/2023,Bangalore,Mumbai,13:05,17:45,4h 40m 1 Stop(s),1 Stop(s),"18,100"

In [34]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BOM&bdestination=BOM&destinationL=Mumbai&destinationCity=&destinationCN=&source=CCU&bsource=CCU&sourceL=Kolkata,Kolkata&sourceCity=Kolkata&sourceCN=India&month=2&day=5&year=2023&date=2/5/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [35]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [36]:
len(price)

132

In [37]:
#Making dataframe
# creating a pandas dataframe
df6= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'05/02/2023','Source':Source[1:133],'Destination':destination[1:133],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df6

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,AirAsia India,05/02/2023,Kolkata,Mumbai,16:00,21:00,5h 0m 1 Stop(s),1 Stop(s),"7,241"
1,AirAsia India,05/02/2023,Kolkata,Mumbai,08:30,19:00,10h 30m 1 Stop(s),1 Stop(s),"7,241"
2,AirAsia India,05/02/2023,Kolkata,Mumbai,08:10,19:55,11h 45m 1 Stop(s),1 Stop(s),"7,241"
3,AirAsia India,05/02/2023,Kolkata,Mumbai,08:30,21:00,12h 30m 1 Stop(s),1 Stop(s),"7,241"
4,AirAsia India,05/02/2023,Kolkata,Mumbai,08:30,00:40,16h 10m 1 Stop(s),1 Stop(s),"7,241"
...,...,...,...,...,...,...,...,...,...
127,AirIndia,05/02/2023,Kolkata,Mumbai,10:30,21:25,10h 55m 1 Stop(s),1 Stop(s),"15,642"
128,AirIndia,05/02/2023,Kolkata,Mumbai,15:25,21:25,6h 0m 1 Stop(s),1 Stop(s),"16,272"
129,IndiGo,05/02/2023,Kolkata,Mumbai,09:45,16:00,6h 15m 1 Stop(s),1 Stop(s),"16,809"
130,IndiGo,05/02/2023,Kolkata,Mumbai,11:30,18:00,6h 30m 1 Stop(s),1 Stop(s),"17,690"
131,IndiGo,05/02/2023,Kolkata,Mumbai,11:45,17:45,6h 0m 1 Stop(s),1 Stop(s),"24,767"

In [38]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BOM&bdestination=BOM&destinationL=Mumbai&destinationCity=&destinationCN=&source=BLR&bsource=BLR&sourceL=Bangalore,Bangalore&sourceCity=Bangalore&sourceCN=India&month=2&day=10&year=2023&date=2/10/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [39]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [40]:
len(price)

143

In [41]:
#Making dataframe
# creating a pandas dataframe
df7= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'10/02/2023','Source':Source[1:144],'Destination':destination[1:144],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df7

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,AirIndia,10/02/2023,Bangalore,Mumbai,06:40,08:35,1h 55m Non-Stop,Non-Stop,"2,823"
1,AirIndia,10/02/2023,Bangalore,Mumbai,09:15,11:30,2h 15m Non-Stop,Non-Stop,"2,823"
2,GO FIRST,10/02/2023,Bangalore,Mumbai,08:00,09:40,1h 40m Non-Stop,Non-Stop,"2,850"
3,GO FIRST,10/02/2023,Bangalore,Mumbai,18:45,20:35,1h 50m Non-Stop,Non-Stop,"2,850"
4,Vistara,10/02/2023,Bangalore,Mumbai,11:05,13:05,2h 0m Non-Stop,Non-Stop,"2,886"
...,...,...,...,...,...,...,...,...,...
138,Vistara,10/02/2023,Bangalore,Mumbai,19:40,15:00,19h 20m 1 Stop(s),1 Stop(s),"12,168"
139,GO FIRST,10/02/2023,Bangalore,Mumbai,17:10,22:15,5h 5m 1 Stop(s),1 Stop(s),"13,285"
140,IndiGo,10/02/2023,Bangalore,Mumbai,13:05,17:45,4h 40m 1 Stop(s),1 Stop(s),"15,585"
141,IndiGo,10/02/2023,Bangalore,Mumbai,10:30,16:05,5h 35m 1 Stop(s),1 Stop(s),"15,765"
142,IndiGo,10/02/2023,Bangalore,Mumbai,13:10,18:30,5h 20m 1 Stop(s),1 Stop(s),"28,109"

In [42]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BOM&bdestination=BOM&destinationL=Mumbai&destinationCity=&destinationCN=&source=CCU&bsource=CCU&sourceL=Kolkata&sourceCity=&sourceCN=&month=2&day=15&year=2023&date=2/15/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=INTL&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [43]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [44]:
len(price)

143

In [45]:
#Making dataframe
# creating a pandas dataframe
df8= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'15/02/2023','Source':Source[1:144],'Destination':destination[1:144],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df8

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,AirAsia India,15/02/2023,Kolkata,Mumbai,16:00,21:00,5h 0m 1 Stop(s),1 Stop(s),"7,241"
1,AirAsia India,15/02/2023,Kolkata,Mumbai,13:20,19:55,6h 35m 1 Stop(s),1 Stop(s),"7,241"
2,AirAsia India,15/02/2023,Kolkata,Mumbai,14:05,21:00,6h 55m 1 Stop(s),1 Stop(s),"7,241"
3,AirAsia India,15/02/2023,Kolkata,Mumbai,16:00,00:40,8h 40m 1 Stop(s),1 Stop(s),"7,241"
4,AirAsia India,15/02/2023,Kolkata,Mumbai,08:30,19:00,10h 30m 1 Stop(s),1 Stop(s),"7,241"
...,...,...,...,...,...,...,...,...,...
138,AirIndia,15/02/2023,Kolkata,Mumbai,15:25,21:25,6h 0m 1 Stop(s),1 Stop(s),"14,277"
139,AirIndia,15/02/2023,Kolkata,Mumbai,15:25,22:10,6h 45m 1 Stop(s),1 Stop(s),"14,277"
140,AirIndia,15/02/2023,Kolkata,Mumbai,15:25,23:35,8h 10m 1 Stop(s),1 Stop(s),"14,277"
141,IndiGo,15/02/2023,Kolkata,Mumbai,11:45,17:45,6h 0m 1 Stop(s),1 Stop(s),"16,721"
142,IndiGo,15/02/2023,Kolkata,Mumbai,14:10,19:55,5h 45m 1 Stop(s),1 Stop(s),"17,165"

In [46]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BOM&bdestination=BOM&destinationL=Mumbai&destinationCity=&destinationCN=&source=BLR&bsource=BLR&sourceL=Bangalore,Bangalore&sourceCity=Bangalore&sourceCN=India&month=2&day=25&year=2023&date=2/25/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [47]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [48]:
len(price)

140

In [49]:
#Making dataframe
# creating a pandas dataframe
df9= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'25/02/2023','Source':Source[1:141],'Destination':destination[1:141],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df9

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,GO FIRST,25/02/2023,Bangalore,Mumbai,20:30,22:15,1h 45m Non-Stop,Non-Stop,"2,250"
1,GO FIRST,25/02/2023,Bangalore,Mumbai,18:45,20:35,1h 50m Non-Stop,Non-Stop,"2,250"
2,IndiGo,25/02/2023,Bangalore,Mumbai,06:00,07:50,1h 50m Non-Stop,Non-Stop,"2,585"
3,IndiGo,25/02/2023,Bangalore,Mumbai,19:25,21:15,1h 50m Non-Stop,Non-Stop,"2,585"
4,IndiGo,25/02/2023,Bangalore,Mumbai,16:20,18:15,1h 55m Non-Stop,Non-Stop,"2,585"
...,...,...,...,...,...,...,...,...,...
135,Vistara,25/02/2023,Bangalore,Mumbai,17:50,11:35,17h 45m 1 Stop(s),1 Stop(s),"11,328"
136,Vistara,25/02/2023,Bangalore,Mumbai,18:45,12:35,17h 50m 1 Stop(s),1 Stop(s),"11,328"
137,Vistara,25/02/2023,Bangalore,Mumbai,21:10,15:00,17h 50m 1 Stop(s),1 Stop(s),"11,328"
138,Vistara,25/02/2023,Bangalore,Mumbai,17:50,12:35,18h 45m 1 Stop(s),1 Stop(s),"11,328"
139,IndiGo,25/02/2023,Bangalore,Mumbai,04:45,10:55,6h 10m 1 Stop(s),1 Stop(s),"15,073"

In [50]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=MAA&bdestination=MAA&destinationL=Chennai,Chennai&destinationCity=Chennai&destinationCN=India&source=BLR&bsource=BLR&sourceL=Bangalore&sourceCity=&sourceCN=&month=2&day=20&year=2023&date=2/20/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [51]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [52]:
len(price)

71

In [54]:
#Making dataframe
# creating a pandas dataframe
df10= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'20/02/2023','Source':Source[1:72],'Destination':destination[1:72],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df10

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,IndiGo,20/02/2023,Bangalore,Chennai,11:00,12:05,1h 5m Non-Stop,Non-Stop,"1,400"
1,IndiGo,20/02/2023,Bangalore,Chennai,17:30,18:35,1h 5m Non-Stop,Non-Stop,"1,710"
2,IndiGo,20/02/2023,Bangalore,Chennai,16:25,17:35,1h 10m Non-Stop,Non-Stop,"1,710"
3,IndiGo,20/02/2023,Bangalore,Chennai,18:25,19:25,1h 0m Non-Stop,Non-Stop,"1,914"
4,AirAsia India,20/02/2023,Bangalore,Chennai,05:10,06:10,1h 0m Non-Stop,Non-Stop,"1,918"
...,...,...,...,...,...,...,...,...,...
66,AirIndia,20/02/2023,Bangalore,Chennai,11:45,19:15,7h 30m 1 Stop(s),1 Stop(s),"10,878"
67,AirIndia,20/02/2023,Bangalore,Chennai,05:45,14:45,9h 0m 1 Stop(s),1 Stop(s),"10,878"
68,AirIndia,20/02/2023,Bangalore,Chennai,10:00,19:15,9h 15m 1 Stop(s),1 Stop(s),"10,878"
69,AirIndia,20/02/2023,Bangalore,Chennai,11:45,22:35,10h 50m 1 Stop(s),1 Stop(s),"10,878"
70,AirIndia,20/02/2023,Bangalore,Chennai,15:00,22:35,7h 35m 1 Stop(s),1 Stop(s),"11,128"

In [55]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BOM&bdestination=BOM&destinationL=Mumbai,Mumbai&destinationCity=Mumbai&destinationCN=India&source=CCU&bsource=CCU&sourceL=Kolkata,Kolkata&sourceCity=Kolkata&sourceCN=India&month=2&day=28&year=2023&date=2/28/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [57]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [58]:
len(price)

141

In [59]:
#Making dataframe
# creating a pandas dataframe
df11= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'28/02/2023','Source':Source[1:142],'Destination':destination[1:142],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df11

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,AirAsia India,28/02/2023,Kolkata,Mumbai,14:05,21:00,6h 55m 1 Stop(s),1 Stop(s),"7,241"
1,AirAsia India,28/02/2023,Kolkata,Mumbai,08:30,19:00,10h 30m 1 Stop(s),1 Stop(s),"7,241"
2,AirAsia India,28/02/2023,Kolkata,Mumbai,08:30,21:00,12h 30m 1 Stop(s),1 Stop(s),"7,241"
3,AirAsia India,28/02/2023,Kolkata,Mumbai,05:25,19:55,14h 30m 1 Stop(s),1 Stop(s),"7,241"
4,AirIndia,28/02/2023,Kolkata,Mumbai,09:30,12:40,3h 10m Non-Stop,Non-Stop,"7,242"
...,...,...,...,...,...,...,...,...,...
136,Vistara,28/02/2023,Kolkata,Mumbai,07:10,22:55,15h 45m 1 Stop(s),1 Stop(s),"13,385"
137,Vistara,28/02/2023,Kolkata,Mumbai,07:10,23:40,16h 30m 1 Stop(s),1 Stop(s),"13,385"
138,Vistara,28/02/2023,Kolkata,Mumbai,15:20,08:00,16h 40m 1 Stop(s),1 Stop(s),"13,385"
139,Vistara,28/02/2023,Kolkata,Mumbai,15:20,09:40,18h 20m 1 Stop(s),1 Stop(s),"13,385"
140,Vistara,28/02/2023,Kolkata,Mumbai,15:20,11:15,19h 55m 1 Stop(s),1 Stop(s),"13,385"

# via.com

In [60]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BLR&bdestination=BLR&destinationL=Bangalore&destinationCity=&destinationCN=&source=HYD&bsource=HYD&sourceL=Hyderabad&sourceCity=&sourceCN=&month=2&day=28&year=2023&date=2/28/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=INTL&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [61]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [62]:
len(price)

129

In [63]:
#Making dataframe
# creating a pandas dataframe
df12= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'28/02/2023','Source':Source[1:130],'Destination':destination[1:130],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df12

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,AirIndia,28/02/2023,Hyderabad,Bangalore,10:00,11:20,1h 20m Non-Stop,Non-Stop,"2,504"
1,IndiGo,28/02/2023,Hyderabad,Bangalore,23:55,01:10,1h 15m Non-Stop,Non-Stop,"2,672"
2,IndiGo,28/02/2023,Hyderabad,Bangalore,22:45,00:05,1h 20m Non-Stop,Non-Stop,"2,672"
3,AirAsia India,28/02/2023,Hyderabad,Bangalore,19:40,20:50,1h 10m Non-Stop,Non-Stop,"2,955"
4,AirAsia India,28/02/2023,Hyderabad,Bangalore,21:00,22:10,1h 10m Non-Stop,Non-Stop,"2,955"
...,...,...,...,...,...,...,...,...,...
124,IndiGo,28/02/2023,Hyderabad,Bangalore,18:35,23:35,5h 0m 1 Stop(s),1 Stop(s),"10,105"
125,Alliance Air,28/02/2023,Hyderabad,Bangalore,07:25,08:50,1h 25m Non-Stop,Non-Stop,"11,408"
126,Alliance Air,28/02/2023,Hyderabad,Bangalore,22:00,23:35,1h 35m Non-Stop,Non-Stop,"11,408"
127,Alliance Air,28/02/2023,Hyderabad,Bangalore,07:25,08:50,1h 25m Non-Stop,Non-Stop,"21,908"
128,Alliance Air,28/02/2023,Hyderabad,Bangalore,22:00,23:35,1h 35m Non-Stop,Non-Stop,"21,908"

In [64]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BLR&bdestination=BLR&destinationL=Bangalore,Bangalore&destinationCity=Bangalore&destinationCN=India&source=HYD&bsource=HYD&sourceL=Hyderabad,Hyderabad&sourceCity=Hyderabad&sourceCN=India&month=3&day=1&year=2023&date=3/1/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [65]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [66]:
len(price)

121

In [67]:
#Making dataframe
# creating a pandas dataframe
df13= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'01/03/2023','Source':Source[1:122],'Destination':destination[1:122],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df13

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,AirIndia,01/03/2023,Hyderabad,Bangalore,10:00,11:20,1h 20m Non-Stop,Non-Stop,"2,504"
1,IndiGo,01/03/2023,Hyderabad,Bangalore,23:55,01:10,1h 15m Non-Stop,Non-Stop,"2,672"
2,IndiGo,01/03/2023,Hyderabad,Bangalore,22:45,00:05,1h 20m Non-Stop,Non-Stop,"2,672"
3,AirAsia India,01/03/2023,Hyderabad,Bangalore,21:45,23:15,1h 30m Non-Stop,Non-Stop,"2,955"
4,Vistara,01/03/2023,Hyderabad,Bangalore,08:50,09:50,1h 0m Non-Stop,Non-Stop,"3,145"
...,...,...,...,...,...,...,...,...,...
116,Alliance Air,01/03/2023,Hyderabad,Bangalore,07:25,08:50,1h 25m Non-Stop,Non-Stop,"11,408"
117,Alliance Air,01/03/2023,Hyderabad,Bangalore,22:00,23:35,1h 35m Non-Stop,Non-Stop,"11,408"
118,IndiGo,01/03/2023,Hyderabad,Bangalore,13:00,17:40,4h 40m 1 Stop(s),1 Stop(s),"12,154"
119,Alliance Air,01/03/2023,Hyderabad,Bangalore,07:25,08:50,1h 25m Non-Stop,Non-Stop,"21,908"
120,Alliance Air,01/03/2023,Hyderabad,Bangalore,22:00,23:35,1h 35m Non-Stop,Non-Stop,"21,908"

In [68]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BOM&bdestination=BOM&destinationL=Mumbai,Mumbai&destinationCity=Mumbai&destinationCN=India&source=BLR&bsource=BLR&sourceL=Bangalore,Bangalore&sourceCity=Bangalore&sourceCN=India&month=3&day=5&year=2023&date=3/5/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [75]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [76]:
len(price),len(airline_name)

(141, 141)

In [77]:
#Making dataframe
# creating a pandas dataframe
df14= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'05/03/2023','Source':Source[1:142],'Destination':destination[1:142],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df14

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,GO FIRST,05/03/2023,Bangalore,Mumbai,08:00,09:40,1h 40m Non-Stop,Non-Stop,"2,250"
1,AirIndia,05/03/2023,Bangalore,Mumbai,06:40,08:35,1h 55m Non-Stop,Non-Stop,"2,602"
2,AirIndia,05/03/2023,Bangalore,Mumbai,21:20,23:20,2h 0m Non-Stop,Non-Stop,"2,602"
3,AirIndia,05/03/2023,Bangalore,Mumbai,09:15,11:30,2h 15m Non-Stop,Non-Stop,"2,602"
4,AirIndia,05/03/2023,Bangalore,Mumbai,19:15,21:30,2h 15m Non-Stop,Non-Stop,"2,602"
...,...,...,...,...,...,...,...,...,...
136,Vistara,05/03/2023,Bangalore,Mumbai,18:45,09:40,14h 55m 1 Stop(s),1 Stop(s),"12,168"
137,Vistara,05/03/2023,Bangalore,Mumbai,21:10,12:35,15h 25m 1 Stop(s),1 Stop(s),"12,168"
138,Vistara,05/03/2023,Bangalore,Mumbai,19:40,12:35,16h 55m 1 Stop(s),1 Stop(s),"12,168"
139,Vistara,05/03/2023,Bangalore,Mumbai,18:45,12:35,17h 50m 1 Stop(s),1 Stop(s),"12,168"
140,Vistara,05/03/2023,Bangalore,Mumbai,21:10,15:00,17h 50m 1 Stop(s),1 Stop(s),"12,168"

In [78]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BLR&bdestination=BLR&destinationL=Bangalore,Bangalore&destinationCity=Bangalore&destinationCN=India&source=DEL&bsource=DEL&sourceL=Delhi,Delhi&sourceCity=Delhi&sourceCN=India&month=3&day=10&year=2023&date=3/10/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [79]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [80]:
len(price)

163

In [81]:
#Making dataframe
# creating a pandas dataframe
df15= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'10/03/2023','Source':Source[1:164],'Destination':destination[1:164],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df15

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,AirAsia India,10/03/2023,Delhi,Bangalore,07:10,12:10,5h 0m 1 Stop(s),1 Stop(s),"5,167"
1,AirAsia India,10/03/2023,Delhi,Bangalore,15:50,21:05,5h 15m 1 Stop(s),1 Stop(s),"5,167"
2,AirAsia India,10/03/2023,Delhi,Bangalore,05:45,11:20,5h 35m 1 Stop(s),1 Stop(s),"5,167"
3,SpiceJet,10/03/2023,Delhi,Bangalore,13:55,16:40,2h 45m Non-Stop,Non-Stop,"5,234"
4,SpiceJet,10/03/2023,Delhi,Bangalore,06:20,09:10,2h 50m Non-Stop,Non-Stop,"5,234"
...,...,...,...,...,...,...,...,...,...
158,SpiceJet,10/03/2023,Delhi,Bangalore,06:45,23:15,16h 30m 1 Stop(s),1 Stop(s),"10,212"
159,GO FIRST,10/03/2023,Delhi,Bangalore,12:45,20:50,8h 5m 1 Stop(s),1 Stop(s),"11,378"
160,SpiceJet,10/03/2023,Delhi,Bangalore,16:35,23:50,7h 15m 1 Stop(s),1 Stop(s),"12,756"
161,AirAsia India,10/03/2023,Delhi,Bangalore,10:55,18:10,7h 15m 1 Stop(s),1 Stop(s),"14,549"
162,AirAsia India,10/03/2023,Delhi,Bangalore,10:55,18:10,7h 15m 1 Stop(s),1 Stop(s),"14,831"

In [82]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BOM&bdestination=BOM&destinationL=Mumbai,Mumbai&destinationCity=Mumbai&destinationCN=India&source=DEL&bsource=DEL&sourceL=Delhi&sourceCity=&sourceCN=&month=3&day=15&year=2023&date=3/15/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [83]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [84]:
len(price)

154

In [85]:
#Making dataframe
# creating a pandas dataframe
df16= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'15/03/2023','Source':Source[1:155],'Destination':destination[1:155],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df16

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,Vistara,15/03/2023,Delhi,Mumbai,13:25,18:45,5h 20m 1 Stop(s),1 Stop(s),"4,102"
1,Vistara,15/03/2023,Delhi,Mumbai,21:20,06:15,8h 55m 1 Stop(s),1 Stop(s),"4,102"
2,Vistara,15/03/2023,Delhi,Mumbai,06:30,18:45,12h 15m 1 Stop(s),1 Stop(s),"4,102"
3,Vistara,15/03/2023,Delhi,Mumbai,21:20,09:40,12h 20m 1 Stop(s),1 Stop(s),"4,102"
4,Vistara,15/03/2023,Delhi,Mumbai,13:25,06:15,16h 50m 1 Stop(s),1 Stop(s),"4,102"
...,...,...,...,...,...,...,...,...,...
149,AirIndia,15/03/2023,Delhi,Mumbai,06:50,19:30,12h 40m 1 Stop(s),1 Stop(s),"14,670"
150,GO FIRST,15/03/2023,Delhi,Mumbai,11:50,18:10,6h 20m 1 Stop(s),1 Stop(s),"14,843"
151,AirIndia,15/03/2023,Delhi,Mumbai,04:55,22:25,17h 30m 1 Stop(s),1 Stop(s),"15,093"
152,AirIndia,15/03/2023,Delhi,Mumbai,15:05,22:55,7h 50m 1 Stop(s),1 Stop(s),"15,405"
153,AirIndia,15/03/2023,Delhi,Mumbai,10:15,15:50,5h 35m 1 Stop(s),1 Stop(s),"22,793"

In [86]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BOM&bdestination=BOM&destinationL=Mumbai&destinationCity=&destinationCN=&source=HYD&bsource=HYD&sourceL=Hyderabad,Hyderabad&sourceCity=Hyderabad&sourceCN=India&month=3&day=20&year=2023&date=3/20/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [87]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [88]:
len(price)

127

In [89]:
#Making dataframe
# creating a pandas dataframe
df17= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'20/03/2023','Source':Source[1:128],'Destination':destination[1:128],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df17

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,AirIndia,20/03/2023,Hyderabad,Mumbai,08:15,09:55,1h 40m Non-Stop,Non-Stop,"3,743"
1,AirIndia,20/03/2023,Hyderabad,Mumbai,13:15,14:55,1h 40m Non-Stop,Non-Stop,"3,743"
2,AirIndia,20/03/2023,Hyderabad,Mumbai,22:25,00:05,1h 40m Non-Stop,Non-Stop,"3,743"
3,AirAsia India,20/03/2023,Hyderabad,Mumbai,17:55,02:20,8h 25m 1 Stop(s),1 Stop(s),"3,991"
4,AirAsia India,20/03/2023,Hyderabad,Mumbai,17:25,02:20,8h 55m 1 Stop(s),1 Stop(s),"3,991"
...,...,...,...,...,...,...,...,...,...
122,Vistara,20/03/2023,Hyderabad,Mumbai,07:00,22:00,15h 0m 1 Stop(s),1 Stop(s),"11,933"
123,Vistara,20/03/2023,Hyderabad,Mumbai,20:30,11:35,15h 5m 1 Stop(s),1 Stop(s),"11,933"
124,Vistara,20/03/2023,Hyderabad,Mumbai,07:00,22:55,15h 55m 1 Stop(s),1 Stop(s),"11,933"
125,AirIndia,20/03/2023,Hyderabad,Mumbai,05:55,12:40,6h 45m 1 Stop(s),1 Stop(s),"14,558"
126,AirIndia,20/03/2023,Hyderabad,Mumbai,05:55,19:30,13h 35m 1 Stop(s),1 Stop(s),"14,558"

In [90]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=COK&bdestination=COK&destinationL=Cochin,Cochin&destinationCity=Cochin&destinationCN=India&source=PNQ&bsource=PNQ&sourceL=Pune,Pune&sourceCity=Pune&sourceCN=India&month=3&day=25&year=2023&date=3/25/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [95]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [96]:
len(price)

152

In [97]:
#Making dataframe
# creating a pandas dataframe
df18= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'25/03/2023','Source':Source[1:153],'Destination':destination[1:153],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df18

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,GO FIRST,25/03/2023,Pune,Cochin,08:40,18:15,9h 35m 1 Stop(s),1 Stop(s),"3,407"
1,AirAsia India,25/03/2023,Pune,Cochin,05:35,11:55,6h 20m 1 Stop(s),1 Stop(s),"3,556"
2,AirAsia India,25/03/2023,Pune,Cochin,23:10,06:10,7h 0m 1 Stop(s),1 Stop(s),"3,858"
3,AirAsia India,25/03/2023,Pune,Cochin,19:25,06:10,10h 45m 1 Stop(s),1 Stop(s),"3,858"
4,AirAsia India,25/03/2023,Pune,Cochin,23:10,11:55,12h 45m 1 Stop(s),1 Stop(s),"3,858"
...,...,...,...,...,...,...,...,...,...
147,Multiple Airlines,25/03/2023,Pune,Cochin,02:45,08:25,5h 40m 1 Stop(s),1 Stop(s),"24,652"
148,Multiple Airlines,25/03/2023,Pune,Cochin,04:50,19:50,15h 0m 1 Stop(s),1 Stop(s),"24,652"
149,Multiple Airlines,25/03/2023,Pune,Cochin,02:45,19:50,17h 5m 1 Stop(s),1 Stop(s),"24,652"
150,Multiple Airlines,25/03/2023,Pune,Cochin,00:45,08:25,7h 40m 1 Stop(s),1 Stop(s),"25,072"
151,Multiple Airlines,25/03/2023,Pune,Cochin,00:45,19:50,19h 5m 1 Stop(s),1 Stop(s),"25,072"

In [117]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=BLR&bdestination=BLR&destinationL=Bangalore,Bangalore&destinationCity=Bangalore&destinationCN=India&source=COK&bsource=COK&sourceL=Cochin,Cochin&sourceCity=Cochin&sourceCN=India&month=3&day=31&year=2023&date=3/31/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [118]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [119]:
len(price)

228

In [120]:
#Making dataframe
# creating a pandas dataframe
df19= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'31/03/2023','Source':Source[1:229],'Destination':destination[1:229],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df19

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,IndiGo,31/03/2023,Cochin,Bangalore,21:15,22:15,1h 0m Non-Stop,Non-Stop,"1,745"
1,IndiGo,31/03/2023,Cochin,Bangalore,05:45,06:45,1h 0m Non-Stop,Non-Stop,"1,810"
2,Alliance Air,31/03/2023,Cochin,Bangalore,20:30,21:55,1h 25m Non-Stop,Non-Stop,"1,991"
3,AirAsia India,31/03/2023,Cochin,Bangalore,06:45,07:45,1h 0m Non-Stop,Non-Stop,"2,094"
4,AirAsia India,31/03/2023,Cochin,Bangalore,22:55,23:55,1h 0m Non-Stop,Non-Stop,"2,094"
...,...,...,...,...,...,...,...,...,...
223,Alliance Air,31/03/2023,Cochin,Bangalore,20:30,21:55,1h 25m Non-Stop,Non-Stop,"21,554"
224,Multiple Airlines,31/03/2023,Cochin,Bangalore,05:00,23:35,18h 35m 2 Stop(s),2 Stop(s),"23,722"
225,Multiple Airlines,31/03/2023,Cochin,Bangalore,07:55,23:35,15h 40m 1 Stop(s),1 Stop(s),"27,081"
226,Multiple Airlines,31/03/2023,Cochin,Bangalore,12:30,23:35,11h 5m 1 Stop(s),1 Stop(s),"28,026"
227,Multiple Airlines,31/03/2023,Cochin,Bangalore,05:00,23:35,18h 35m 2 Stop(s),2 Stop(s),"34,222"

In [103]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=PNQ&bdestination=PNQ&destinationL=Pune,Pune&destinationCity=Pune&destinationCN=India&source=COK&bsource=COK&sourceL=Cochin&sourceCity=&sourceCN=&month=4&day=1&year=2023&date=4/1/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [104]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [105]:
len(price)

235

In [106]:
#Making dataframe
# creating a pandas dataframe
df20= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'01/04/2023','Source':Source[1:236],'Destination':destination[1:236],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df20

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,IndiGo,01/04/2023,Cochin,Pune,18:55,00:20,5h 25m 1 Stop(s),1 Stop(s),"4,203"
1,IndiGo,01/04/2023,Cochin,Pune,09:45,16:45,7h 0m 1 Stop(s),1 Stop(s),"4,203"
2,IndiGo,01/04/2023,Cochin,Pune,18:55,03:35,8h 40m 1 Stop(s),1 Stop(s),"4,203"
3,IndiGo,01/04/2023,Cochin,Pune,15:00,00:20,9h 20m 1 Stop(s),1 Stop(s),"4,203"
4,IndiGo,01/04/2023,Cochin,Pune,21:15,06:50,9h 35m 1 Stop(s),1 Stop(s),"4,203"
...,...,...,...,...,...,...,...,...,...
230,Multiple Airlines,01/04/2023,Cochin,Pune,13:25,12:10,22h 45m 3 Stop(s),3 Stop(s),"17,580"
231,Multiple Airlines,01/04/2023,Cochin,Pune,13:25,12:10,22h 45m 3 Stop(s),3 Stop(s),"17,580"
232,Multiple Airlines,01/04/2023,Cochin,Pune,09:35,12:10,26h 35m 3 Stop(s),3 Stop(s),"17,580"
233,Multiple Airlines,01/04/2023,Cochin,Pune,09:35,12:10,26h 35m 3 Stop(s),3 Stop(s),"17,580"
234,Multiple Airlines,01/04/2023,Cochin,Pune,09:35,12:10,26h 35m 3 Stop(s),3 Stop(s),"17,580"

In [107]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=COK&bdestination=COK&destinationL=Cochin&destinationCity=&destinationCN=&source=PNQ&bsource=PNQ&sourceL=Pune&sourceCity=&sourceCN=&month=4&day=5&year=2023&date=4/5/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=INTL&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [108]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [109]:
len(price)

189

In [110]:
#Making dataframe
# creating a pandas dataframe
df21= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'05/04/2023','Source':Source[1:190],'Destination':destination[1:190],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df21

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,Multiple Airlines,05/04/2023,Pune,Cochin,01:30,08:25,6h 55m 1 Stop(s),1 Stop(s),"4,690"
1,Multiple Airlines,05/04/2023,Pune,Cochin,01:30,19:50,18h 20m 1 Stop(s),1 Stop(s),"4,690"
2,IndiGo,05/04/2023,Pune,Cochin,13:00,17:20,4h 20m 1 Stop(s),1 Stop(s),"4,886"
3,IndiGo,05/04/2023,Pune,Cochin,04:35,09:05,4h 30m 1 Stop(s),1 Stop(s),"4,886"
4,IndiGo,05/04/2023,Pune,Cochin,07:35,14:15,6h 40m 1 Stop(s),1 Stop(s),"4,886"
...,...,...,...,...,...,...,...,...,...
184,Multiple Airlines,05/04/2023,Pune,Cochin,01:30,19:50,18h 20m 1 Stop(s),1 Stop(s),"24,253"
185,Multiple Airlines,05/04/2023,Pune,Cochin,01:00,08:25,7h 25m 1 Stop(s),1 Stop(s),"24,652"
186,Multiple Airlines,05/04/2023,Pune,Cochin,04:35,19:50,15h 15m 1 Stop(s),1 Stop(s),"24,652"
187,Multiple Airlines,05/04/2023,Pune,Cochin,01:00,19:50,18h 50m 1 Stop(s),1 Stop(s),"24,652"
188,Multiple Airlines,05/04/2023,Pune,Cochin,05:35,19:50,14h 15m 1 Stop(s),1 Stop(s),"24,767"

In [111]:
#getting the url
url = "https://in.via.com/flight/search?returnType=one-way&destination=COK&bdestination=COK&destinationL=Cochin&destinationCity=&destinationCN=&source=BLR&bsource=BLR&sourceL=Bangalore,Bangalore&sourceCity=Bangalore&sourceCN=India&month=4&day=10&year=2023&date=4/10/2023&numAdults=1&numChildren=0&numInfants=0&validation_result=&domesinter=international&livequote=-1&flightClass=ALL&travType=DOM&routingType=ALL&preferredCarrier=&prefCarrier=0&isAjax=false"
driver.get(url)

In [112]:
#Airline details
airline_name=[]  
try:
    name=driver.find_elements(By.XPATH,'//div[@class="name js-toolTip"]')
    for i in name:
        airline_name.append(i.text)
except NoSuchElementException:
    airline_name.append('-')
#place
source=[]
try:
    Source=driver.find_elements(By.XPATH,'//div[@class="city"]')
    for i in Source:
        source.append(i.text)
except NoSuchElementException:
    source.append('-')
    
#Source  
Source=[]
for i in range(0,len(source)-1,2):
    Source.append(source[i])
#destination
destination=[]
for i in range(0,len(source)-1,2):
    destination.append(source[i+1])
    
# total stops
stops=[]
try:
    stop=driver.find_elements(By.XPATH,'//span[@class="stops"]')
    for i in stop:
        stops.append(i.text)
except NoSuchElementException:
    stops.append('-')
#departure time 
depature=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="time"]')
    for i in time:
        depature.append(i.text)
except NoSuchElementException:
    depature.append('-')
    
#destination
depature_time=[]
arrival_time=[]
for i in range(0,len(depature)-1,2):
    depature_time.append(depature[i])
    arrival_time.append(depature[i+1])
    
    
#duration
duration=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="dur"]')
    for i in time:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('-')
    
#fare
price=[]
try:
    fare=driver.find_elements(By.XPATH,'//span[@class="price"]')
    for i in fare:
        price.append(i.text)
except NoSuchElementException:
    price.append('-')

In [113]:
len(price)

270

In [114]:
#Making dataframe
# creating a pandas dataframe
df22= pd.DataFrame({'airline_name':airline_name,'date_of_journey':'10/04/2023','Source':Source[1:271],'Destination':destination[1:271],'depature_time':depature_time,'arrival_time':arrival_time,'duration':duration,'total_stops':stops,'Price':price})
  # show the dataframe
df22

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,Alliance Air,10/04/2023,Bangalore,Cochin,07:05,08:25,1h 20m Non-Stop,Non-Stop,"2,191"
1,Alliance Air,10/04/2023,Bangalore,Cochin,18:30,19:50,1h 20m Non-Stop,Non-Stop,"2,191"
2,IndiGo,10/04/2023,Bangalore,Cochin,19:40,20:45,1h 5m Non-Stop,Non-Stop,"2,858"
3,IndiGo,10/04/2023,Bangalore,Cochin,16:15,17:20,1h 5m Non-Stop,Non-Stop,"3,205"
4,IndiGo,10/04/2023,Bangalore,Cochin,09:55,10:55,1h 0m Non-Stop,Non-Stop,"3,357"
...,...,...,...,...,...,...,...,...,...
265,Multiple Airlines,10/04/2023,Bangalore,Cochin,05:15,20:10,14h 55m 2 Stop(s),2 Stop(s),"26,928"
266,Multiple Airlines,10/04/2023,Bangalore,Cochin,05:45,20:10,14h 25m 2 Stop(s),2 Stop(s),"27,648"
267,Multiple Airlines,10/04/2023,Bangalore,Cochin,05:45,20:10,14h 25m 2 Stop(s),2 Stop(s),"28,042"
268,Multiple Airlines,10/04/2023,Bangalore,Cochin,05:10,20:10,15h 0m 2 Stop(s),2 Stop(s),"29,475"
269,Multiple Airlines,10/04/2023,Bangalore,Cochin,05:10,20:10,15h 0m 2 Stop(s),2 Stop(s),"29,895"

### concatinating the dataframes

In [121]:
data=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,df21,df22],ignore_index=True)

In [122]:
data

,airline_name,date_of_journey,Source,Destination,depature_time,arrival_time,duration,total_stops,Price
0,IndiGo,15/01/2023,Delhi,Mumbai,06:30,08:45,2h 15m Non-Stop,Non-Stop,"5,794"
1,SpiceJet,15/01/2023,Delhi,Mumbai,07:00,09:15,2h 15m Non-Stop,Non-Stop,"5,794"
2,IndiGo,15/01/2023,Delhi,Mumbai,04:45,07:10,2h 25m Non-Stop,Non-Stop,"5,794"
3,GO FIRST,15/01/2023,Delhi,Mumbai,02:40,04:50,2h 10m Non-Stop,Non-Stop,"5,801"
4,GO FIRST,15/01/2023,Delhi,Mumbai,06:00,08:10,2h 10m Non-Stop,Non-Stop,"5,897"
...,...,...,...,...,...,...,...,...,...
3390,Multiple Airlines,10/04/2023,Bangalore,Cochin,05:15,20:10,14h 55m 2 Stop(s),2 Stop(s),"26,928"
3391,Multiple Airlines,10/04/2023,Bangalore,Cochin,05:45,20:10,14h 25m 2 Stop(s),2 Stop(s),"27,648"
3392,Multiple Airlines,10/04/2023,Bangalore,Cochin,05:45,20:10,14h 25m 2 Stop(s),2 Stop(s),"28,042"
3393,Multiple Airlines,10/04/2023,Bangalore,Cochin,05:10,20:10,15h 0m 2 Stop(s),2 Stop(s),"29,475"
3394,Multiple Airlines,10/04/2023,Bangalore,Cochin,05:10,20:10,15h 0m 2 Stop(s),2 Stop(s),"29,895"

### Saving into excel file

In [123]:
import pandas as pd

In [124]:
# writing to Excel
datatoexcel = pd.ExcelWriter('Flight_price.xlsx')
  
# write DataFrame to excel
data.to_excel(datatoexcel)
  
# save to excel
datatoexcel.save()

datatoexcel.save()